{{#each data}}
<div class="result clearfix">
	<span class="data-FIRST">{{{text FIRST NUMBER}}}</span>
	<span class="data-LAST">{{{text LAST NUMBER}}}</span>
	<span class="data-CHAPTER">{{{text CHAPTER NUMBER}}}</span>
	<span class="data-INITIATED">{{{date INITIATED NUMBER}}}</span>
	<span class="data-FATHER">{{{text FATHER NUMBER}}}</span>
	<span class="data-STATUS">{{{text STATUS NUMBER}}}</span>
	<span class="data-GRADUATED">{{{date GRADUATED NUMBER}}}</span>
	<span class="data-COMPANY">{{{text COMPANY NUMBER}}}</span>
	<span class="data-STATE">{{{text STATE NUMBER}}}</span>
</div>
{{/each}}
<div id="load-more-container"><span id="load-more" data-last="{{last}}">Load 25 more</span></div>
